<div  class="">
    <div class="breadcrumb">
        <h1>ภาพยนตร์</h1>
        <ul>
            <li><a href="">ภาพยนตร์</a></li>
            <li>ประเภท</li>
        </ul>
    </div>

    <div class="separator-breadcrumb border-top"></div>

    <div class="row">
        <!-- add category -->
        <div class="col-md-4">
            <div class="card mb-5">
                <div class="card-body">
                    <div>
                        <h4>ประเภทภาพยนตร์</h4>
                        <p>กรุณากรอกข้อมูลภาพยนตร์ที่คุณต้องการเพิ่ม.</p>

                    </div>
                    <div class="d-flex flex-column">
                        <form (submit)="onAddCategory(formCategory)" #formCategory="ngForm">
                        <div class="form-group">
                            <label for="name">ชื่อประเภทภาพยนตร์</label>
                            <input type="text" class="form-control form-control-rounded" name="name" ngModel #categoryInput="ngModel" required placeholder="e.g. แอคชั่น">
                        </div>
                        <div class="form-group">
                            <label for="eng">ชื่อประเภทภาพยนตร์ (ภาษาอังกฤษ)</label>
                            <input type="text" class="form-control form-control-rounded" name="eng" ngModel #categoryLanguageInput="ngModel" required placeholder="e.g. Action">
                        </div>
                        <button type="submit" class="btn btn-primary btn-rounded btn-block mt-4" [disabled]="!formCategory.valid">เพิ่มข้อมูล</button>
                    </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- table category -->
        <div class="col-md-8">
            <div class="card mb-4">
            <div class="card-body p-0">
                <div class="card-title border-bottom d-flex align-items-center m-0 p-3">
                    <span>ประเภทภาพยนตร์</span>
                    <span class="flex-grow-1"></span>
                </div>

                <div class="d-flex border-bottom justify-content-between p-3" *ngFor="let categorie of categories" >
                    <div class="flex-grow-1">
                        <span class="text-small text-muted">ประเภทภาพยนตร์</span>
                        <h5 class="m-0">{{ categorie?.name }}</h5>
                    </div>
                    <div class="flex-grow-1">
                        <span class="text-small text-muted">ภาษาอังกฤษ</span>
                        <h5 class="m-0">{{ categorie?.eng }}</h5>
                    </div>

                    <div class="flex-grow-1">
                        <span class="text-small text-muted">จัดการข้อมูล</span>
                        <div class="pt-1">
                        <a type="button" class="pointer mr-4"
                        (click)="confirm(modalEditCategory)"
                        placement="bottom"
                        ngbPopover="แก้ไข"
                        triggers="mouseenter:mouseleave"

                        >
                            <i class="i-Pen-5"></i>
                        </a>
                        <a type="button" class="pointer"
                        (click)="confirm(modalConfirm)"
                        placement="bottom"
                        ngbPopover="ลบ"
                        triggers="mouseenter:mouseleave"
                        >
                            <i class="i-Empty-Box text-danger"></i>
                        </a>
                        </div>
                    </div>
                    
                    <!-- edit category -->
                    <ng-template #modalEditCategory let-modal>
                        <div class="modal-header">
                          <h4 class="modal-title" id="modal-basic-title">แก้ไขข้อมูลประเภทภาพยนตร์</h4>
                          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <form (submit)="onEditCategory(formEditCategory,categorie.id)" #formEditCategory="ngForm">
                        <div class="modal-body">

                                <div class="form-group">

                                  <div class="col-md-12 form-group mb-3">
                                    <label>ชื่อภาษาไทย</label>
                                    <input type="text" class="form-control form-control-rounded" name="name"
                                      ngModel="{{categorie?.name}}" #nameInput="ngModel" required placeholder="ชื่อภาษาไทย">
                                  </div>
                                  <div class="col-md-12 form-group mb-3">
                                    <label>ชื่อภาษาอังกฤษ</label>
                                    <input type="text" class="form-control form-control-rounded" name="eng"
                                      ngModel="{{categorie?.eng}}" #engInput="ngModel" required placeholder="ชื่อภาษาอังกฤษ">
                                  </div>

                                    <!-- <label>ชื่อประเภทภาพยนตร์ที่ต้องการแก้ไข</label>
                                    <input type="text" class="form-control form-control-rounded" name="eng"     ngModel="{{categorie.eng}}"    #categoryInput="ngModel" required placeholder="e.g. Action">
                                    <input type="text" class="form-control form-control-rounded" name="name"  ngModel="{{categorie.name}}" #categoryInput="ngModel" required placeholder="e.g. แอคชั่น"> -->
                                </div>

                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-light btn-rounded" (click)="modal.dismiss('cancel')">ยกเลิก</button>
                          <button type="submit" class="btn btn-primary btn-rounded" [disabled]="!formEditCategory.valid">บันทึกข้อมูล</button>
                        </div>
                        </form>
                      </ng-template>
                    <!-- confirem delete -->
                    <ng-template #modalConfirm let-modal>
                        <div class="modal-body">
                        <p><strong>คุณต้องการลบข้อมูลประเภทภาพยนตร์ <span class="text-primary">"ชื่อ"</span> ใช่หรือไม่ ?</strong></p>
                        <p>กรุณาตรวจสอบข้อมูลให้ถูกต้อง
                        <span class="text-danger">เมื่อลบแล้ว จะไม่สามารถกู้ข้อมูลกลับมาได้</span>
                        </p>
                        </div>
                        <div class="modal-footer border-top-0">
                        <button type="button" class="btn btn-light btn-rounded" (click)="modal.dismiss()">ยกเลิก</button>
                        <button type="button" ngbAutofocus class="btn btn-danger btn-rounded" (click)="modal.close()" (click)="deleteCat(categories.id)">ยืนยัน</button>
                        <!-- <button type="button" ngbAutofocus class="btn btn-danger btn-rounded" (click)="modal.close()" (click)="deleteCat(categories.id)">ยืนยัน</button>
                        <button type="button" ngbAutofocus class="btn btn-danger btn-rounded" (click)="modal.close()" (click)="deleteCat(categorie.id)">ยืนยัน</button> -->

                        </div>
                    </ng-template>


                </div>

            </div>
        </div>
    </div>

    </div>

</div>
