<div class="">
    <div class="breadcrumb">
        <h1>เพิ่มผู้ใช้งาน</h1>
        <ul>
            <li><a href="">ผู้ใช้งาน</a></li>
            <li>เพิ่มข้อมูล</li>
        </ul>
    </div>

    <div class="separator-breadcrumb border-top"></div>

    <!-- MANAGE ACCOUNT -->
    <div class="row">
        <div class="col-md-12">
            <div class="card card-profile-1 mb-12">
                <div class="card-body">
                    <!-- <div class="card-title mb-3">เพิ่มนักลงทุน หรือ ผู้สร้างภาพยนตร์</div> -->
                    <form (submit)="onAddUser(formUser)" #formUser="ngForm">
                        <div class="row">
                            <div class="col-md-2">
                                <label class="mb-4">รูปภาพประจำตัว</label>
                                <div class="avatar mb-3">
                                    <img src="./assets/images/faces/1.jpg">
                                </div>
                            </div>
                            <div class="col-md-10">
                                <div class="row">
                                    <div class="col-md-12 form-group mb-3">
                                        <label>อีเมล (ชื่อผู้ใช้งาน)</label>
                                        <input type="text" class="form-control form-control-rounded" name="email" ngModel placeholder="Enter Email">
                                    </div>
                                    <div class="col-md-6 form-group mb-3">
                                        <label>รหัสผ่าน</label>
                                        <input type="password" class="form-control form-control-rounded" name="password" ngModel placeholder="Enter your password">
                                    </div>
            
                                    <div class="col-md-6 form-group mb-3">
                                        <label>ยืนยันรหัสผ่าน</label>
                                        <input type="password" class="form-control form-control-rounded" name="password_confirmation" ngModel placeholder="Enter confirm password">
                                    </div>
                                    <div class="col-md-6 form-group mb-3">
                                        <label>ชื่อ</label>
                                        <input type="text" class="form-control form-control-rounded" name="first_name" ngModel placeholder="Enter your first name">
                                    </div>
            
                                    <div class="col-md-6 form-group mb-3">
                                        <label>นามสกุล</label>
                                        <input type="text" class="form-control form-control-rounded" name="last_name" ngModel placeholder="Enter your last name">
                                    </div>
                                    <div class="col-md-6 form-group mb-3">
                                        <label>วันเกิด</label>
                                        <div class="input-group">
                                            <input id="picker1" class="form-control form-control-rounded" placeholder="yyyy-mm-dd" name="dp"
                                                ngbDatepicker #dp="ngbDatepicker">
                                            <div class="input-group-append">
                                                <button class="btn btn-secondary btn-rounded" (click)="dp.toggle()" type="button">
                                                    <i class="icon-regular i-Calendar-4"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 form-group mb-3">
                                        <label>เบอร์โทรศัพท์</label>
                                        <input type="text" class="form-control form-control-rounded" name="phone" ngModel placeholder="Enter your phone">
                                    </div>
            
                                    <div class="col-md-6 form-group mb-3">
                                        <label>สถานะ</label>
                                        <select class="form-control form-control-rounded">
                                            <option>นักลงทุน</option>
                                            <option>ผู้สร้างภาพยนตร์</option>
                                        </select>
                                    </div>
        
            
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-main btn-block" >บันทึกข้อมูล</button>
        
                                       <!-- <btn-loading  btnClass="btn-primary btn-rounded" [loading]="loading">บันทึกข้อมูล</btn-loading> -->
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- MODEL CROPPER -->
<ng-template #modalCropper let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Upload & Crop</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-rounded btn-light" (click)="filePicker.click()">เลือกรูปภาพ</button>
    <input class="d-none" type="file" #filePicker>
    <button type="button" class="btn btn-rounded btn-primary" (click)="modal.close('Save click')">บันทึก</button>
  </div>
</ng-template>