<div class="col-md-6 form-group mb-3">
    <label>ปีที่เริ่ม</label>
    <input type="text" class="form-control form-control-rounded" name="start" ngModel placeholder="Enter start">
</div>
<div class="col-md-6 form-group mb-3">
    <label>ปีที่ออก</label>
    <input type="text" class="form-control form-control-rounded" name="end" ngModel placeholder="Enter end">
</div>

<div class="col-md-6 form-group mb-3">
    <label>หน้าที่</label>
    <input type="text" class="form-control form-control-rounded" name="position" ngModel placeholder="Enter position">
</div>
<div class="col-md-6 form-group mb-3">
    <label>ที่ทำงาน</label>
    <input type="text" class="form-control form-control-rounded" name="workplace" ngModel placeholder="Enter workplace">
</div>
<br>
<div class="col-md-12">
    <button type="submit" class="btn btn-main btn-block" >บันทึกข้อมูล</button>

   <!-- <btn-loading  btnClass="btn-primary btn-rounded" [loading]="loading">บันทึกข้อมูล</btn-loading> -->
</div>