<div class="">
<div class="breadcrumb">
    <h1>Users</h1>
    <ul>
        <li><a href="">Users</a></li>
        <li>Creator & Fundraiser</li>
    </ul>
</div>

<div class="separator-breadcrumb border-top"></div>

<div class="row">
    <!-- LEFT -->
    <div class="col-lg-8 col-md-12">
        <!-- CARD ICON -->
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="card card-icon bg-primary mb-4">
                  <div class="card-body text-center">
                    <i class="i-Add-User text-white"></i>
                    <p class="text-white mt-2 mb-2">เพิ่มผู้ใช้งาน</p>
                    <button type="button" class="btn btn-light btn-rounded bg-white m-1 my-0">เพิ่มผู้ใช้</button>
                    <!-- <p class="text-primary text-24 line-height-1 m-0">21</p> -->
                  </div>
                </div>
              </div>

            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="card card-icon mb-4">
                  <div class="card-body text-center">
                    <i class="i-Male"></i>
                    <p class="text-muted mt-2 mb-2">นักสร้างภาพยนตร์  <small class="badge badge-pill badge-danger mr-1" ngbPopover="Register for Creator"
                        triggers="mouseenter:mouseleave" style="cursor: pointer;">9</small></p>
                    <p class="text-primary text-24 line-height-1 m-0">21</p>
                  </div>
                </div>
              </div>
          
              <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="card card-icon mb-4">
                  <div class="card-body text-center">
                    <i class="i-Conference"></i>
                    <p class="text-muted mt-2 mb-2">นักระดมทุน</p>
                    <p class="text-primary text-24 line-height-1 m-0">415</p>
                  </div>
                </div>
              </div>
        </div>

        <!-- TRAFFIC -->
        <!-- <div class="row">
            <div class="col-md-12">
				<div class="card mb-4">
					<div class="card-body">
						<h6 class="mb-2">Last 7 days traffic status</h6>
						<p class="text-24 font-weight-light mb-1"><i class="i-Up text-success"></i> 15%</p>
						<div echarts [options]="chartBar1" [autoResize]="true" style="height: 60px;"></div>
					</div>
				</div>
			</div>
        </div> -->


    </div>

    <!-- RIGHT -->
    <div class="col-lg-4 col-md-12">
        <!-- RUNNING / BANNED -->
        <div class="row">
            <div class="col-md-12 mb-4">
				<div class="card">
					<div class="card-body">
						<h6 class="mb-0 text-muted">สถานะ กำลังใช้งาน/ยกเลิกการใช้งาน</h6>
						<p class="text-24 font-weight-light mb-1">85/15</p>
						<div echarts [options]="chartPie2" [autoResize]="true" style="height: 100px;"></div>
					</div>
				</div>
              </div>
        </div>
    </div>
</div>

<!-- BOTTOM -->
<div class="row">
    <div class="col-lg-12 col-md-12">
        <!-- USERS -->
        <div class="row">
            <div class="col-md-12">
                <div class="card  o-hidden">
                    <ngx-datatable
                    style="height: calc(100vh - 270px); box-shadow: none"
                    class="material fullscreen"
                    [columnMode]="'force'"
                    [headerHeight]="50"
                    [footerHeight]="0"
                    [rowHeight]="60"
                    [scrollbarV]="true"
                    [scrollbarH]="true"
                    [rows]="products$ | async">
                    <ngx-datatable-column name="photo" [maxWidth]="100">
                        <ng-template ngx-datatable-header-template>
                          Thumbnail
                        </ng-template>
                          <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                              <img height="32px" width="32px" style="border-radius: 4px" [src]="value" alt="">
                          </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="name" [width]="300">
                        <ng-template ngx-datatable-header-template>
                          Title
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="category">
                        <ng-template ngx-datatable-header-template>
                          Category
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="subtitle">
                        <ng-template ngx-datatable-header-template>
                          Description
                        </ng-template>
                      </ngx-datatable-column>
                  </ngx-datatable>
                </div>
            </div>
          </div>
    </div>
</div>