<div  class="">
    <div class="breadcrumb">
        <h1>ภาพยนตร์</h1>
        <ul>
            <li><a href="">ภาพยนตร์</a></li>
            <li>ทั้งหมด</li>
        </ul>
    </div>
    
    <div class="separator-breadcrumb border-top"></div>

    <div class="row">
    <div class="col-md-6" *ngFor="let movie of movies">
      <div class="card mb-4 o-hidden">
        <img class="card-img-top" [src]="movie.movie_image" alt="">
        <div class="card-body">
          <p class="card-text"> : {{movie.movie_image}}</p>
         <p class="card-text">ชื่อเรื่อง : {{movie.name}}</p>
         <p class="card-text">ชื่อเรื่อง : {{movie.name_eng}}</p>
         <p class="card-text">ลักษณะ : {{movie.description}}</p>
          <button type="button" class="btn btn-primary" (click)="viewMovie('movie.id')">ดูรายละเอียด</button>
        </div>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-primary" routerLink="/movies/view">ดูรายละเอียด</button>
  <!-- ---------------------------------------------------------------------------------------------------- -->
    <!-- <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4">
          <div class="card">
            <img class="mx-auto d-block" src="assets/images/movies/myhero.jpg" alt="">
            <div class="card-body">
              <h5 class="card-title">My Hero Academia</h5>
              <p class="card-text">My Hero Academia The Movie Heroes Rising - มายฮีโร่ อคาเดเมีย The Movie วีรบุรุษกู้โลก</p>
              <button type="button" class="btn btn-primary" routerLink="/movies/detail">ดูรายละเอียด</button>
            </div>
          </div>
        </div>
        <div class="col mb-4">
            <div class="card">
              <img class="mx-auto d-block" src="assets/images/movies/lowss.jpg" alt="">
              <div class="card-body">
                <h5 class="card-title">สุขสันต์วันโสด Low Season</h5>
                <p class="card-text">เริ่มที่ไหนจบที่นั่น” คือเหตุผลที่ทำให้ “หลิน” ขอลุยเดี่ยวจัดทริปรักษาแผลใจ ณ กิ่วแม่ปาน จนได้เจอกับ “พุธ” (มาริโอ้ เมาเร่อ)</p>
                <button type="button" class="btn btn-primary" routerLink="/movies/detail">ดูรายละเอียด</button>
              </div>
            </div>
          </div>
          <div class="col mb-4">
            <div class="card">
              <img class="mx-auto d-block" src="assets/images/movies/appwar.jpg" alt="">
              <div class="card-body">
                <h5 class="card-title">แอปชนแอป App War</h5>
                <p class="card-text">บอมบ์ กับ จูน สองหัวหน้าทีมทำแอปหน้าใหม่ที่ไม่เคยประสบความสำเร็จในการประกวด Startup เวทีไหนมาก่อนเลย วันหนึ่งพวกเขาได้เจอกันโดยบังเอิญ</p>
                <button type="button" class="btn btn-primary" routerLink="/movies/detail">ดูรายละเอียด</button>
              </div>
            </div>
          </div>
          <div class="col mb-4">
            <div class="card">
              <img class="mx-auto d-block" src="assets/images/movies/jazz.jpg" alt="">
              <div class="card-body">
                <h5 class="card-title">สลัมบอย ซอยตื๊ด</h5>
                <p class="card-text">สลัมบอย ซอยตื๊ด (2017) Slumboy Soi Teeed</p>
                <button type="button" class="btn btn-primary" routerLink="/movies/detail">ดูรายละเอียด</button>
                </div>
            </div>
          </div>
        </div> -->

    
</div>
