.center{
  margin-top:30px ;
}
.center1{
  margin-top:110px ;
}
.video{
  margin-top:80px ;
}

.center4{
  margin-top:20px ;
}

.font{
  color: rgb(0, 0, 0);
  margin-top:30px ;
  font-weight: bold;
  font-size: 35px;
  font-family: fantasy;
}
.font2{
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 18px;
}

.font1{
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 20px;
}

.button-center{
  text-align: center;
  font-size: 15px;

}

.button-center2{
  color: rgb(236, 4, 4);
  text-align: center;
  font-size: 18px;

}

.submit{
  text-align: center;
  font-size: 25px;
}

.submit button {
  padding: 10px 40px;
}

.button-center button {
  padding: 10px 40px;
}

.add-center{
  text-align: center;
  
}
