<div class="separator-breadcrumb border-top"></div>
    <!-- MANAGE ACCOUNT -->

    <div class="row">
        <div class="col-md-2"></div>

        <div class="col-md-8">
          <div class="card mb-12">
            <div class="card-body">
                <div class="col-12 text-center">
                    <h2>รายละเอียดการชำระเงิน</h2>
                </div>
                <hr>
                <div class="col-md-12">
                  <div class="card mb-4 o-hidden " >
                    <div class="card-body">
                      <h5 class="card-title">ภาพยนตร์เรื่อง : Avengers Endgame (อเวนเจอร์ส เผด็จศึก)</h5>
                      <p class="card-text">ประเภทแพ็คเกจ : ระดมทุน</p>
                      <p class="card-text">แพ็คเกจที่เลือก : ระดมทุนแบบ งบน้อย</p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">ราคาระดมทุน 300 บาท</li>
                    </ul>
                    <!-- <div class="card-body">
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div> -->
                  </div>
                </div>
                <hr>
                <!-- <form> -->
                <form (submit)="onAddPackage(formPackage)" #formPackage="ngForm">
                    <div>

                        <div class="col-md-12">
                          <div class="card mb-4 o-hidden">

                            <div class="col-md-12 form-group mb-3">
                              <div class="card-body">
                                <p class="card-title">เลือกบัญชีธนาคารของเว็บ</p>
                              <select class="custom-select" name="bank.bank_account" ngModel id="inputGroupSelect04" aria-label="Example select with button addon">
                                <option>กสิกร</option>
                                <option>อิสลาม</option>
                                <option>หทารไทย</option>
                              </select>
                              </div>

                              <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-8">
                                  <div class="card mb-4 o-hidden " >
                                  <div class="card-body">
                                    <p class="button-center">ชื่อธนาคาร : กรุงไทย</p>
                                    <p class="button-center">เลขบัญชี : 01478563</p>
                                    <p class="button-center">ชื่อบัญชี : นาย XXXXX XXXXXXXX</p>
                                  </div>
                                  </div>
                                </div>
                                  <div class="col-md-2"></div>
                              </div>

                          </div>
                        </div>
                      </div>

                      <div class="card mb-4">
                        <div class="card-header">

                        </div>
                        <div class="card-body">
                          <h5 class="card-title" class="button-center2" >**เมื่อท่านทำการโอนเงินไปยังบัญชีข้างต้นเรียบร้อยแล้ว (เก็บสลิปการโอนไว้ทุกครั้ง)
                            ให้กรอกข้อมูลด้านล่างให้ครบ เพื่อแจ้งการโอนเงิน</h5>
                        </div>
                      </div>

                      
      <div class="col-md-12" class="add-center" >
        <div class="card mb-4 o-hidden">
          <div class="col-md-12 form-group mb-3" >
                  <div class="card-body">
                    <div class="row">
                        <div class="col-md-4"></div>
                      <div class="col-md-4">
                        <div class="input-group md-3" class="add-center">
                              <!-- <div class="input-group-prepend">
                                  <span class="input-group-text">$</span>
                              </div> -->
                              <label for="basic-url"> จำนวนเงินที่โอน </label>
                <div class="input-group md-4">
                    <div class="input-group-prepend">
                      <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                    <div class="input-group-append">
                        <span class="input-group-text">฿</span>
                    </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <br>
                <div class="row">
                          <div class="col-md-4"></div>
                  <div class="col-md-4">
                    <div class="form-group">
                            <label for="picker1"> วันที่โอน </label>
                        <div class="input-group">
                              <input id="picker1" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
                          <div class="input-group-append">
                                <button class="btn btn-secondary" (click)="dp.toggle()" type="button">
                                  <i class="icon-regular i-Calendar-4"></i>
                                </button>
                              </div>
                            </div>
                        </div>
                      </div>
                    </div>
                   </div>


                      <!-- ---------------------------------------อัพโหลดรูปภาพ-------------------------------- -->
                <div class="row">
                    
                  <div class="col-md-4"></div>
                <div class="col-md-4">
                      
                <label class="mb-12">รูปภาพประจำตัว</label>
                <div class="mb-3" *ngIf="!imageCoverPreview">
                  <img src="./assets/images/sleep.png">
                </div>
                <div *ngIf="imageCoverPreview !== '' && imageCoverPreview">
                  <img [src]="imageCoverPreview">
                </div>

                <section id="intro-wrap" class="intro-three-Wrap text-center">
                  <div class="intro-three-Description">
                    <span>
                      <button type="button" class="btn btn-outline-white" (click)="fileCover.click()"><i
                          class="fas fa-camera"></i> อัพโหลดรูปภาพ</button>
                      <input class="d-none" type="file" #fileCover #fileCoverReset
                        (change)="onImageCover($event)" accept="image/*">
                    </span>
                    <span *ngIf="imageCoverPreview !== '' && imageCoverPreview">
                      <!-- <button type="button" class="btn btn-success mr-2" (click)="onUploadImageCover()"><i class="far fa-check-circle"></i> บันทึก </button>
                                <button type="button" class="btn btn-outline-white border-0" (click)="onCancelImagCover()">ยกเลิก</button> -->
                    </span>
                  </div>
                  <div class="overlay">
                  </div>
                </section>

              </div>
                  <div class="col-md-4"></div>
          </div>
              <!-- ------------------------------------------------------------------------------------------ -->
               
          </div>
        </div>
      </div>
    

                        <br>
                        <div class="col-md-12" class="submit" >
                        <button type="submit" class="btn btn-primary btn-block">เมื่อโอนแล้ว คลิกที่นี่</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>

        </div>

        <div class="col-md-2"></div>
    </div>
