<div class="">
  <div class="breadcrumb">
    <h1>เพิ่มข้อมูลยืนยันตัวตน</h1>
  </div>

  <div class="separator-breadcrumb border-top"></div>

  <div class="row">
    <div class="col-md-12">
      <div class="card card-profile-1 mb-12">
        <div class="card-body">

          <div class="col-md-10">
            <!-- <form> -->
            <form (ngSubmit)="submit(formVerification)" #formVerification="ngForm">
            <!-- <form [formGroup]="formBasic" (ngSubmit)="submit()"> -->
              <input type="radio" id="male" name="type" ngModel value="card">
              <label for="male"> บัตรประชาชน (ID card)</label><br>
              <input type="radio" id="female" name="type" ngModel value="passport">
              <label for="female"> หนังสือเดินทาง (Passport)</label>
              <!-- <div class="card-body" [formGroup]="radioGroup">
                <div class="card-title">เลือก ประเภทของบัตร</div>
                <label class="radio radio-primary">
                  <input type="radio" name="radio" [value]="1" formControlName="radio">
                  <span>บัตรประชาชน (ID card)</span>
                  <span class="checkmark"></span>
                </label>
                <label class="radio radio-primary">
                  <input type="radio" name="radio" [value]="2" formControlName="radio">
                  <span>หนังสือเดินทาง (Passport)</span>
                  <span class="checkmark"></span>
                </label>
              </div> -->

              <div class="col-md-6 form-group mb-3">
                <span>เลขบัตร</span>
                <!-- <label>เลขบัตร</label> -->
                <input type="text" class="form-control form-control-rounded" name="card_number" ngModel
                  placeholder="เลขบัตร">
              </div>
              <!-- ---------------------------------------อัพโหลดรูปภาพ-------------------------------- -->
              <div class="col-md-2">
                <label class="mb-4">รูปภาพของบัตรประชาชน หรือ พาสปอร์ต</label>
                <div class="mb-3" *ngIf="!imageCoverPreview">
                  <img src="./assets/images/card/1.png">
                </div>
                <div *ngIf="imageCoverPreview !== '' && imageCoverPreview">
                  <img [src]="imageCoverPreview">
                </div>

                <section id="intro-wrap" class="intro-three-Wrap text-center">
                  <div class="intro-three-Description">
                    <span>
                      <button type="button" class="btn btn-outline-white" (click)="fileCover.click()"><i
                          class="fas fa-camera"></i> อัพโหลดรูปภาพ</button>
                      <input class="d-none" type="file" #fileCover #fileCoverReset
                        (change)="onImageCover($event)" accept="image/*">
                    </span>
                    <span *ngIf="imageCoverPreview !== '' && imageCoverPreview">
                      <!-- <button type="button" class="btn btn-success mr-2" (click)="onUploadImageCover()"><i class="far fa-check-circle"></i> บันทึก </button>
                                <button type="button" class="btn btn-outline-white border-0" (click)="onCancelImagCover()">ยกเลิก</button> -->
                    </span>
                  </div>
                  <div class="overlay">
                  </div>
                </section>
              </div>
              <!-- ------------------------------------------------------------------------------------------ -->
              <br>
              <div class="col-md-6 form-group mb-3">
                <span>ที่อยู่ตามภูมิลําเนา</span>
                <!-- <label>ที่อยู่ตามภูมิลําเนา</label> -->
                <input type="text" class="form-control form-control-rounded" name="address" ngModel
                  placeholder="ที่อยู่ตามภูมิลําเนา">
              </div>

              <div class="col-md-3">
                <!-- <button type="submit" btnClass="btn-primary btn-rounded">บันทึกข้อมูล</button> -->
                <btn-loading btnClass="btn-primary btn-rounded" [loading]="loading">บันทึกข้อมูล</btn-loading>
              </div>

            </form>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>
