<div  class="">
    <div class="breadcrumb">
        <h1>รายละเอียดภาพยนตร์</h1>
        <ul>
            <li><a href="">ภาพยนตร์</a></li>
            <li>ทั้งหมด</li>
        </ul>
    </div>
        <div class="separator-breadcrumb border-top"></div>

        <div class="row">
            <div class="col-md-12">
                <div class="card mb-7">
                    <div class="text-center">
                        <!-- <div class="header-cover" style="background-image: url('assets/images/photo-wide-1.jpg')"></div> -->
                        <br><img src="assets/images/movies/myhero.jpg"  alt="Girl in a jacket" width="250" height="300">
                        <!-- <p class="m-0 text-24">{{user?.name}}</p> -->
                        <br><br><h2><p class="text-center">My Hero Academia The Movie: วีรบุรุษกู้โลก</p></h2>
                         <p class="text-muted m-3">ประเภท การ์ตูน,ANIME</p>
                         <hr>
                         <div class="row">
                             <div class="col-6 text-center">
                                <p>ยอดปัจจุบัน</p>
                                <h2>150000</h2>
                                <p><small>บาท</small></p>
                             </div> 
                             <div class="col-6 text-center">
                                <p>ต้องการอีก</p>
                                <h2>150000</h2>
                                <p><small>บาท</small></p>
                             </div>
                         </div>
                         <hr>   
                            <h2><p class="text-"> ลักษณะ : movie.description</p></h2>
                            <h5><p class="text-left">“Plus Ultra!”</p></h5>
                             <hr>
                             <div class="mb-4">
                                <h2><p class="text-left"> รายละเอียด</p></h2>
                                <h5><p class="text-left">movie.detail : “Plus Ultra!”
                                    สองคำสั้นๆ ที่เราใช้บรรยายความรู้สึกทั้งหมดหลังจากได้รับชม
                                     My Hero Academia The Movie: วีรบุรุษกู้โลก จบลง พร้อมกับหัวใจของซูเปอร์ฮีโร่ที่พลุ่งพล่านขึ้นมา
                                    เรียกได้ว่าเป็นการกลับมาสร้างความสนุกให้กับแฟนๆ
                                     มังงะ My Hero Academia ในฉบับของภาพยนตร์แอนิเมชันได้อย่างยอดเยี่ยม 
                                     หลังจากภาคแรก My Hero Academia The Movie: กำเนิดใหม่ 2 วีรบุรุษ 
                                     ได้เล่าเรื่องราว Side Story ของ ออลไมต์ จัดเต็มด้วยฉากแอ็กชันดุเดือดจนสามารถกวาดรายได้ทั่วโลกไป 25 ล้านดอลลาร์สหรัฐในปี 2018
                                    My Hero Academia The Movie: วีรบุรุษกู้โลก ก็เรียกได้ว่าเป็นการ ‘ส่งต่อ’ 
                                    ความดุเดือดของฉากแอ็กชันและหัวใจสำคัญของเนื้อเรื่องได้อย่างสนุกสนาน เข้มข้น และประทับใจได้ไม่แพ้ภาคแรก</h5>
                
                         
                    </div>
                </div>
            </div>
        </div>
        
    