<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="card mb-12">
            <div class="card-body p-0">
                <div class="card-title border-bottom d-flex align-items-center m-3 p-3">
                    <span>ข้อมูลการโอนเงิน</span>
                    <span class="flex-grow-1"></span>    
                </div>
                    <br>
                    <div class="col-md-6 form-group mb-0">
                        <div class="shadow p-3 mb-5 bg-white rounded">จำนวนเงินที่โอน : 1000000000 บาท</div>
                    </div>
                    <div class="col-md-6 form-group mb-3">
                        <div class="shadow p-3 mb-5 bg-white rounded">วัน/เดือน/ปี : 15/08/2020</div>
                    </div>
                        <div class="col-md-3">
                            <div class="text-center">
                                <br><img class="card-img-top" src="./assets/images/sleep.png" alt="">
                            </div>
                        </div>  

                    <br>
                    
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
</div>