<div class="">
  <div class="breadcrumb">
    <h1>ผู้ใช้งาน</h1>
    <!-- <ul>
      <li><a href="">ผู้ใช้งาน</a></li>
      <li>Creator & Fundraiser</li>
      <li><a href="">นักลงทุน & นักสร้างภาพยนตร์</a></li>
      <li>ชื่อผู้ใช้งาน</li>
    </ul> -->
  </div>
  <div class="separator-breadcrumb border-top"></div>
  <div class="card user-profile o-hidden mb-4">
    <div class="header-cover" style="background-image: url('assets/images/photo-wide-1.jpg')"></div>
    <div class="user-info">
      <img class="profile-picture avatar-lg mb-2" src="{{user?.profile_picture}}" alt="">
      <p class="m-0 text-24">{{user?.name}}</p>
      <p class="text-muted m-0">{{user?.user_status}}</p>
      <!-- <button type="button" class="btn btn-primary" (click)="viewMovie('movie.id')">ดูรายละเอียด</button> -->
      <!-- <button type="button" class="btn btn-outline-success m-1" (click)="onVerification(user?.id)">ยืนยันตัวตน</button> -->
    </div>
    <div class="card-body">
      <ngb-tabset class="nav-center">
        <ngb-tab title="เกี่ยวกับ">
          <ng-template ngbTabContent>
            <h4>ข้อมูลทั่วไป</h4>
            <p> </p>
            <hr>
            <div class="row">
              <div class="col-md-4 col-6">
                <div class="mb-4">
                  <p class="text-primary mb-1"><i class="i-Calendar text-16 mr-1"></i> วันเกิด</p>
                  <span>1 Jan, 1994</span>
                </div>
                <div class="mb-4">
                  <p class="text-primary mb-1"><i class="i-Edit-Map text-16 mr-1"></i> ที่อยู่</p>
                  <span *ngIf="!user?.address">ยังไม่มีข้อมูล</span>
                  <span *ngIf="user?.address">{{user?.address}}</span>
                  ต.{{user?.district}} อ.{{user?.amphoe}} จ.{{user?.province}} รหัสไปรษณีย์ {{user?.zipcode}}
                </div>
                <div class="mb-4">
                  <p class="text-primary mb-1"><i class="i-Globe text-16 mr-1"></i>ประเทศ</p>
                  <span>{{user?.country}}</span>
                </div>
              </div>
              <div class="col-md-4 col-6">
                <div class="mb-4">
                  <p class="text-primary mb-1"><i class="i-Email text-16 mr-1"></i> อีเมล</p>
                  <span>{{user?.email}}</span>
                </div>
                <div class="mb-4">
                  <p class="text-primary mb-1"><i class="i-Telephone text-16 mr-1"></i> เบอร์โทรศัพท์</p>
                  <span>{{user?.tel}}</span>
                </div>

              </div>
              <div class="col-md-4 col-6">
                <div class="mb-4">
                  <p class="text-primary mb-1"><i class="i-Business-ManWoman text-16 mr-1"></i> อาชีพ</p>
                  <span>{{user?.career}}</span>
                </div>
                <div class="mb-4">
                  <p class="text-primary mb-1"><i class="i-Home1 text-16 mr-1"></i> สถานที่ทำงาน</p>
                  <span>{{user?.workplace}}</span>
                </div>
              </div>
            </div>
            <hr>
            <!-- <h4>สิ่งที่สนใจ</h4>
            <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum dolore labore
              reiciendis
              ab quo ducimus reprehenderit natus debitis, provident ad iure sed aut animi dolor incidunt
              voluptatem. Blanditiis, nobis aut.</p>
            <div class="row">
              <div class="col-md-2 col-sm-4 col-6 text-center">
                <i class="i-Plane text-32 text-primary"></i>
                <p class="text-16 mt-1">Travelling</p>
              </div>
              <div class="col-md-2 col-sm-4 col-6 text-center">
                <i class="i-Camera text-32 text-primary"></i>
                <p class="text-16 mt-1">Photography</p>
              </div>
              <div class="col-md-2 col-sm-4 col-6 text-center">
                <i class="i-Car-2 text-32 text-primary"></i>
                <p class="text-16 mt-1">Driving</p>
              </div>
              <div class="col-md-2 col-sm-4 col-6 text-center">
                <i class="i-Music-Note-2 text-32 text-primary"></i>
                <p class="text-16 mt-1">Music</p>
              </div>
            </div> -->

          </ng-template>
        </ngb-tab>
        <!-- ==================================================   ข้อมูลการศึกษา   ========================================================== -->
        <ngb-tab title="ข้อมูลการศึกษา">
          <ng-template ngbTabContent>
            <!-- <button type="button" class="btn btn-light btn-rounded bg-white m-1 my-0"
              (click)="addEducation(user?.id)">เพิ่มข้อมูลการศึกษา</button> -->

            <div *ngFor="let education of educations">
              <div class="separator-breadcrumb border-top"></div>
              <!-- MANAGE ACCOUNT -->
              <div class="row">
                <div class="col-md-12">
                  <div class="card mb-12">
                    <div class="card-body">
                      <div class="card-title mb-3">ข้อมูลการศึกษา</div>
                      <p>ปีที่จบการศึกษา : {{education.graduation_year}}</p>
                      <p>ระดับการศึกษา : {{education.level}}</p>
                      <p>สาขาวิชา/วิชาเอก/สายการศึกษา : {{education.subject}}</p>
                      <p>คณะ : {{education.faculty}}</p>
                      <p>โรงเรียน/สถานศึกษา : {{education.school}}</p>
                      <!-- <button type="button" class="btn btn-light btn-rounded bg-white m-1 my-0"
                        (click)="deleteEducation(user?.id, education.id)">ลบ</button>
                      <button type="button" class="btn btn-light btn-rounded bg-white m-1 my-0"
                        (click)="open(modalEditEducation)">แก้ไข</button> -->
                    </div>
                  </div>
                </div>
              </div>
              <!-- MODEL CROPPER --------------------------------------------------------------------------------------------------------------->
              <ng-template #modalEditEducation let-modal>
                <div class="modal-header">
                  <h4 class="modal-title" id="modal-basic-title">แก้ไขข้อมูลการศึกษา</h4>
                  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form (submit)="editEducation(formEducation,education.id)" #formEducation="ngForm">
                  <div class="modal-body">
                    <p>{{education.id}}</p>
                    <div class="row">
                      <div class="col-md-6 form-group mb-3">
                        <label>ปีที่จบการศึกษา</label>
                        <input type="text" class="form-control form-control-rounded" name="graduation_year"
                          ngModel="{{education.graduation_year}}" #yearInput="ngModel" required
                          placeholder="graduation year">
                      </div>
                      <div class="col-md-6 form-group mb-3">
                        <label>ระดับการศึกษา</label>
                        <input type="text" class="form-control form-control-rounded" name="level"
                          ngModel="{{education.level}}" #levelInput="ngModel" required placeholder="level">
                      </div>
                      <div class="col-md-6 form-group mb-3">
                        <label>สาขาวิชา/วิชาเอก</label>
                        <input type="text" class="form-control form-control-rounded" name="subject"
                          ngModel="{{education.subject}}" #subjectInput="ngModel" required placeholder="subject">
                      </div>
                      <div class="col-md-6 form-group mb-3">
                        <label>คณะ</label>
                        <input type="text" class="form-control form-control-rounded" name="faculty"
                          ngModel="{{education.faculty}}" #facultyInput="ngModel" required placeholder="faculty">
                      </div>
                      <div class="col-md-6 form-group mb-3">
                        <label>โรงเรียน/สถานศึกษา</label>
                        <input type="text" class="form-control form-control-rounded" name="school"
                          ngModel="{{education.school}}" #schoolInput="ngModel" required placeholder="school">
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-block">บันทึกข้อมูล</button>
                    <!-- <button type="submit" class="btn btn-primary btn-block" >บันทึกข้อมูล</button> -->

                  </div>
                </form>
              </ng-template>
              <!-- MODEL CROPPER --------------------------------------------------------------------------------------------------------------->
            </div>

          </ng-template>
        </ngb-tab>
        <!-- ==================================================   ประสบการณ์ทำงาน   ======================================================== -->
        <ngb-tab title="ประสบการณ์ทำงาน">
          <ng-template ngbTabContent>
            <!-- <button type="button" class="btn btn-light btn-rounded bg-white m-1 my-0"
              (click)="addExperience(user?.id)">เพิ่มข้อมูลประสบการณ์ทำงาน</button> -->

            <div *ngFor="let experience of experiences">
              <div class="separator-breadcrumb border-top"></div>
              <!-- MANAGE ACCOUNT -->
              <div class="row">
                <div class="col-md-12">
                  <div class="card mb-12">
                    <div class="card-body">
                      <div class="card-title mb-3">ประสบการณ์ทำงาน</div>
                      <p>ปีที่เริ่มทำงาน : {{experience.start_year}}</p>
                      <p>ปีที่ออกจากงาน : {{experience.end_year}}</p>
                      <p>ตำแหน่ง : {{experience.position}}</p>
                      <p>ที่ทำงาน : {{experience.workplace}}</p>
                      <!-- <button type="button" class="btn btn-light btn-rounded bg-white m-1 my-0"
                        (click)="deleteExperienceWork(user?.id, experience.id)">ลบ</button>
                      <button type="button" class="btn btn-light btn-rounded bg-white m-1 my-0"
                        (click)="open(modalEditExperience)">แก้ไข</button> -->
                    </div>
                  </div>
                </div>
              </div>
              <!-- MODEL CROPPER --------------------------------------------------------------------------------------------------------------->
              <ng-template #modalEditExperience let-modal>
                <div class="modal-header">
                  <h4 class="modal-title" id="modal-basic-title">แก้ไขข้อมูลประสบการณ์ทำงาน</h4>
                  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form (submit)="editExperience(formExperience,experience.id)" #formExperience="ngForm">
                  <div class="modal-body">
                    <p>{{experience.id}}</p>
                    <div class="row">
                      <div class="col-md-6 form-group mb-3">
                        <label>ปีที่เริ่มทำงาน</label>
                        <input type="text" class="form-control form-control-rounded" name="start_year"
                          ngModel="{{experience.start_year}}" #yearInput="ngModel" required placeholder="start year">
                      </div>
                      <div class="col-md-6 form-group mb-3">
                        <label>ปีที่ออกจากงาน</label>
                        <input type="text" class="form-control form-control-rounded" name="end_year"
                          ngModel="{{experience.end_year}}" #levelInput="ngModel" required placeholder="level">
                      </div>
                      <div class="col-md-6 form-group mb-3">
                        <label>ตำแหน่ง</label>
                        <input type="text" class="form-control form-control-rounded" name="position"
                          ngModel="{{experience.position}}" #subjectInput="ngModel" required placeholder="position">
                      </div>
                      <div class="col-md-6 form-group mb-3">
                        <label>ที่ทำงาน</label>
                        <input type="text" class="form-control form-control-rounded" name="workplace"
                          ngModel="{{experience.workplace}}" #facultyInput="ngModel" required placeholder="workplace">
                      </div>

                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-block">บันทึกข้อมูล</button>
                    <!-- <button type="submit" class="btn btn-primary btn-block" >บันทึกข้อมูล</button> -->

                  </div>
                </form>
              </ng-template>
              <!-- MODEL CROPPER --------------------------------------------------------------------------------------------------------------->
            </div>

          </ng-template>
        </ngb-tab>
        <!-- =====================================================      แก้ไข     ========================================================== -->

      </ngb-tabset>
    </div>
  </div>
</div>
