<!-- <p>home works!</p>
<div *ngIf="!userIsAuthenticated">
    ยังไม่ได้เข้าสู่ระบบ
</div>
<div *ngIf="userIsAuthenticated">
    เข้าสู่ระบบแล้ว
    <h1></h1>
    <h1>{{getAuthUser.email}}</h1>
    <img src="{{getAuthUser.profile_picture}}" alt="{{getAuthUser.name}}">
    <a (click)="onLogout()" class="text-danger dropdown-item" style="cursor: pointer;"><i class="ni ni-button-power"></i>ออกจากระบบ</a>
</div> -->

<div class="">
    <div class="breadcrumb">
        <h1>General</h1>
        <ul>
            <li><a href="">Admin</a></li>
            <li>administrator</li>
        </ul>
    </div>

    <div class="separator-breadcrumb border-top"></div>

    <div class="row">
        <div class="col-md-3">
            <div class="card card-icon bg-primary mb-4">
                <div class="card-body text-center">
                  <i class="i-Add-User text-white"></i>
                  <p class="text-white mt-2 mb-2">เพิ่มผู้ดูแลระบบ</p>
                  <button type="button" class="btn btn-light btn-rounded bg-white m-1 my-0" routerLink="/admin/admin-list/add">เพิ่มข้อมูล</button>
                  <!-- <p class="text-primary text-24 line-height-1 m-0">21</p> -->
                </div>
              </div>
        </div>
        <div class="col-md-3" *ngFor="let admin of admins">
            <div class="card card-profile-1 mb-4">
                <div class="card-body text-center">
                    <div class="avatar box-shadow-2 mb-3">
                        <img src="{{ admin.profile_picture }}" alt="">
                    </div>
                    <button (click)="view('red','xxl')">red</button><button (click)="view('yellow','l')">yellow</button>
                    <h5 class="m-0"><a href="javascript:void(0)" (click)="viewAdmin(admin.id)"> {{ admin.name }} </a></h5>
                    <h5 class="m-0"><a href=""> {{ admin.email }} </a></h5>
                    <p class="mt-0">Administrator</p>
                    <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae cumque.</p> -->
                    <!-- <button class="btn btn-primary btn-rounded">ดูข้อมูลผู้ดูแลระบบ</button> -->
                    <div class="card-socials-simple mt-4">
                        <a href="javascript:void(0)" routerLink="/admin/admin-list/edit" type="button" class=" mr-4" ngbPopover="แก้ไขข้อมูล"
                        triggers="mouseenter:mouseleave">
                            <i class="i-Pen-4"></i>
                        </a>
                        <a href="javascript:void(0)" type="button" ngbPopover="ลบข้อมูล"
                        triggers="mouseenter:mouseleave" (click)="confirm(modalConfirm)">
                            <i class="i-Remove-User text-danger"></i>
                        </a>
                        <!-- CONFIRM DELETE -->
                        <ng-template #modalConfirm let-modal>
                            <div class="modal-body">
                              <p><strong>คุณต้องการลบข้อมูลโปรไฟล์ของ <span class="text-primary">"ชื่อแอดมิน"</span> หรือไม่ ?</strong></p>
                              <p>All information associated to this user profile will be permanently deleted.
                              <span class="text-danger">This operation can not be undone.</span>
                              </p>
                            </div>
                            <div class="modal-footer border-top-0">
                              <button type="button" class="btn btn-light btn-rounded" (click)="modal.dismiss('cancel')">Cancel</button>
                              <button type="button" ngbAutofocus class="btn btn-danger btn-rounded" (click)="modal.close('Ok')" (click)="delete(admin.id)">Ok</button>
                            </div>
                        </ng-template>

                    </div>
                </div>
            </div>
        </div>
    </div>