.center{
    margin-top:50px ;
   
}
.center1{
    margin-top:110px ;
}
.video{
    margin-top:80px ;
}

.center4{
    margin-top:20px ;
}

.font{
    color: black;
    margin-top:30px ;
    font-weight: bold;
    font-size: 35px;
    font-family: fantasy;
}
.font1{
    color: black;
    font-size: 30px;
}

.font2{
    color: black;
    font-weight: bold;
    font-size: 20px;
}
.font3{
    color: rgba(223, 219, 24, 0.897);
    font-weight: bold;
    font-size: 50px;
}
.font4{
    color: rgb(180, 9, 248);
    font-weight: bold;
    font-size: 50px;
}

.button-center{
    text-align: center;
    margin-top:60px ;
    
}
.button-center button {
    padding: 30px 100px;
    font-size: 20px;
    font-weight: bold;
}