


<div class="row">
  <div class="col-md-12">

    <div class="card mb-4">
      <div class="card-body">

        <div class="row">
          <div class="col-sm-4 col-mb-4">
            <img class="card-img" width="200" height="500" src="http://localhost:8000/images/movie/{{movie?.movie_pic}}" alt="Card image">
          </div>

          <div class="col-sm-8 col-mb-8">
            <div class="row">
              <div class="col-sm-6 col-mb-6">
                <p class="font">{{ movie?.name_en }}</p>
                <p class="font1">{{ movie?.name_th }}</p>
                <p class="font2">ผู้กำกับ : {{ movie?.director }}</p>
              </div>
              <div class="col-sm-6 col-mb-6" class="button-center">
                <button type="button" class="btn btn-outline-primary btn-rounded m-1"
                  (click)="packageView(movie?.id)">ระดมทุน</button>
              </div>
            </div>

            <p class="font2">ประเภท : {{ movie?.category?.name }}</p>
            <p>เรื่องย่อ :
              {{ movie?.description }}</p>


            <div class="row">
              <div class="col-sm-6 col-mb-6">
                <p class="font2">ยอดปัจจุบัน</p>
                <p class="font3">{{ movie?.current_total }} บาท</p>
              </div>

              <div class="col-sm-6 col-mb-6">
                <p class="font2">ยอดระดมทุนที่ต้องการ</p>
                <p class="font4">{{ movie?.total }} บาท</p>
              </div>
            </div>

            <!-- <span class="mr-3 d-flex align-items-center"><i class="i-Speach-Bubble-6 mr-1"></i> 12 </span>
                    <span class="d-flex align-items-center"><i class="i-Calendar-4 mr-2"></i>03.12.2018</span> -->

          </div>
        </div>

        <div class="card-body">
          <ngb-tabset class="">

            <ngb-tab title="รายละเอียด">
              <ng-template ngbTabContent>

                <p>เรื่องย่อ : {{ movie?.resume }}</p>

              </ng-template>
            </ngb-tab>

            <ngb-tab title="ความคืบหน้า">
              <ng-template ngbTabContent>


                <div class="col-md-12" *ngFor="let progress of progresses">
                  <div class="card mb-12">
                    <div class="card-body p-0">
                      <div class="card-title border-bottom d-flex align-items-center m-3 p-3">
                        <span>รายละเอียดความคืบหน้า</span>
                        <span class="flex-grow-1"></span>
                      </div>
                      <br>
                      <div class="col-md-6 form-group mb-0">
                        <div class="shadow p-3 mb-5 bg-white rounded">หัวข้อ : {{ progress.topic }}</div>
                      </div>
                      <div class="col-md-5">
                        <div class="text-center">
                          <br><img class="card-img" width="500" height="250" src="{{progress?.picture}}" alt="Card image">
                          <!-- {{ progress.picture }} -->
                        </div>
                      </div>

                      <br>

                      <div class="col-md-6 form-group mb-3">
                        <div class="shadow p-3 mb-5 bg-white rounded">รายละเอียด : {{ progress.detail }}</div>
                        <div class="shadow p-3 mb-5 bg-white rounded">วัน/เดือน/ปี : {{ progress.date }}</div>
                      </div>
                      <div class="col-md-6 form-group mb-3">
                      </div><br>
                    </div>
                  </div>
                </div>

              </ng-template>
            </ngb-tab>

            <ngb-tab title="ข้อมูลการโอนเงิน">
              <ng-template ngbTabContent>

                <div class="col-sm-12 col-mb-12">
                  <P class="font1">สถานะการโอน</P>

                  <div class="card-body">
                    <ngb-tabset class="">

                      <ngb-tab title="ตรวจสอบสำเร็จ">
                        <ng-template ngbTabContent>

                          <!-- --------------------------------------------ข้อมูล 1 -------------------------------------------- -->
                          <div class="row">
                            <div class="col-sm-8 col-mb-8" *ngFor="let transfer of adconfirm">
                              <div class="card mb-12">
                                <div class="card-header">

                                </div>
                                <div class="card-body">
                                  <h4 class="card-title" class="font2">ชื่อแพ็คเกจที่เลือก : {{transfer.package?.topic}}</h4><br>
                                  <img class="profile-picture avatar-lg mb-2" src="http://localhost:8000/images/user/{{transfer.user?.profile_picture}}" alt="">
                                  <p class="card-text">ชื่อผู้ใช้ : {{transfer.user?.name}}</p>
                                  <!-- <h5 class="card-text">Reward</h5> -->
                                  <p class="card-text">วันที่โอน : {{transfer.transfer_date}}</p>
                                  <ul class="list-group list-group-flush">
                                    <div class="row">
                                      <div class="col-sm-12 col-mb-12">
                                        <h5 class="list-group-item">จำนวนเงิน : {{transfer.transfer_amount}} บาท</h5>
                                      </div>

                                    </div>
                                  </ul>

                                </div>
                              </div>
                            </div>
                            <div class="col-sm-2 col-mb-2"></div>
                          </div>
                          <br>

                        </ng-template>
                      </ngb-tab>

                      <ngb-tab title="ยังไม่ตรวจสอบ">
                        <ng-template ngbTabContent>
                          <!-- --------------------------------------------ข้อมูล 1 -------------------------------------------- -->
                          <div class="row">
                            <div class="col-sm-8 col-mb-8" *ngFor="let transfer of adnot">
                              <div class="card mb-12">
                                <div class="card-header">

                                </div>
                                <div class="card-body">
                                  <h4 class="card-title" class="font2">ชื่อแพ็คเกจที่เลือก : {{transfer.package?.topic}}</h4><br>
                                  <img class="profile-picture avatar-lg mb-2" src="http://localhost:8000/images/user/{{transfer.user?.profile_picture}}" alt="">
                                  <p class="card-text">ชื่อผู้ใช้ : {{transfer.user?.name}}</p>
                                  <!-- <h5 class="card-text">Reward</h5> -->
                                  <p class="card-text">วันที่โอน : {{transfer.transfer_date}}</p>
                                  <ul class="list-group list-group-flush">
                                    <div class="row">
                                      <div class="col-sm-8 col-mb-8">
                                        <h5 class="list-group-item">จำนวนเงิน : {{transfer.transfer_amount}} บาท</h5>
                                      </div>


                                    </div>
                                  </ul>

                                </div>
                              </div>
                            </div>

                          </div>
                          <br>

                        </ng-template>
                      </ngb-tab>

                      <ngb-tab title="ตรวจสอบไม่สำเร็จ">
                        <ng-template ngbTabContent>
                          <!-- --------------------------------------------ข้อมูล 1 -------------------------------------------- -->
                          <div class="row">
                            <div class="col-sm-8 col-mb-8" *ngFor="let transfer of adun">
                              <div class="card mb-12">
                                <div class="card-header">

                                </div>
                                <div class="card-body">
                                  <h4 class="card-title" class="font2">ชื่อแพ็คเกจที่เลือก : {{transfer.package?.topic}}</h4><br>
                                  <img class="profile-picture avatar-lg mb-2" src="http://localhost:8000/images/user/{{transfer.user?.profile_picture}}" alt="">
                                  <p class="card-text">ชื่อผู้ใช้ : {{transfer.user?.name}}</p>
                                  <!-- <h5 class="card-text">Reward</h5> -->
                                  <p class="card-text">วันที่โอน : {{transfer.transfer_date}}</p>
                                  <ul class="list-group list-group-flush">
                                    <div class="row">
                                      <div class="col-sm-12 col-mb-12">
                                        <h5 class="list-group-item">จำนวนเงิน : {{transfer.transfer_amount}} บาท</h5>
                                      </div>

                                    </div>
                                  </ul>
                                </div>
                              </div>
                            </div>
                            <div class="col-sm-2 col-mb-2"></div>
                          </div>
                          <br>

                        </ng-template>
                      </ngb-tab>



                    </ngb-tabset>
                  </div>
                </div>

              </ng-template>
            </ngb-tab>

            <ngb-tab title="รายชื่อผู้ระดมทุนทั้งหมด">
              <ng-template ngbTabContent>

                <div class="row">

                  <div class="col-md-6">
                    <div class="card mb-4">
                      <div class="card-body">

                        <div class="card-title">รายชื่อผู้ระดมทุน</div>
                        <div class="d-flex align-items-center border-bottom-dotted-dim pb-3 mb-3" *ngFor="let transfer of funds">
                          <img class="avatar-md rounded mr-3" src="http://localhost:8000/images/user/{{transfer.user?.profile_picture}}" alt="">
                          <div class="flex-grow-1">
                            <h6 class="m-0">ชื่อ : {{transfer.user?.name}}</h6>
                            <p class="m-0 text-small text-muted">ชื่อแพ็คเกจที่เลือก : {{transfer.package?.topic}}</p>
                          </div>
                          <div>
                            <span class="font-weight-bold text-success text-16">฿{{transfer.transfer_amount}}</span>
                          </div>
                        </div>
                        <div class="font-weight-bold text-success text-16">ยอดรวมทั้งหมด : {{movie?.funds_total}} บาท</div>
                      </div>
                    </div>
                  </div>

                  <!-- --------------------------------------------------------------------------------------------------- -->

                  <div class="col-md-6">
                    <div class="card mb-4">
                      <div class="card-body">
                        <div class="card-title">รายชื่อผู้ลงทุน</div>
                        <div class="d-flex align-items-center border-bottom-dotted-dim pb-3 mb-3" *ngFor="let transfer of invests">
                          <img class="avatar-md rounded mr-3" src="http://localhost:8000/images/user/{{transfer.user?.profile_picture}}" alt="">
                          <div class="flex-grow-1">
                            <h6 class="m-0">ชื่อ : {{transfer.user?.name}}</h6>
                            <p class="m-0 text-small text-muted">ชื่อแพ็คเกจที่เลือก : {{transfer.package?.topic}}</p>
                          </div>
                          <div>
                            <span class="font-weight-bold text-primary text-16">฿{{transfer.transfer_amount}}</span>
                          </div>
                        </div>
                        <div class="font-weight-bold text-primary text-16">ยอดรวมทั้งหมด : {{movie?.invest_total}} บาท</div>
                      </div>
                    </div>
                  </div>

                </div>

              </ng-template>
            </ngb-tab>

            <ngb-tab title="ส่วนแบ่งที่จะได้รับ">
              <ng-template ngbTabContent>

                <div class="row">

                  <div class="col-md-2"></div>

                  <div class="col-md-8">
                    <div class="card mb-4">
                      <div class="card-body">
                        <div class="card-title">ส่วนแบ่งที่เราจะได้รับ</div>
                        <span class="font-weight-bold text-warning text-16">ส่วนแบ่งที่จะได้รับจากการลงทุน คือ : {{movie?.share}} %</span>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-2"></div>

                </div>

              </ng-template>
            </ngb-tab>


          </ngb-tabset>
        </div>

      </div>
    </div>
