<div class="separator-breadcrumb border-top"></div>
    <!-- MANAGE ACCOUNT -->
    
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-12">
                <div class="card-body">
                    <div class="col-12 text-center">
                        <h2 >เพิ่มข้อมูลแพ็คเกจ</h2>
                    </div>
                    <!-- <div class="card-title mb-3">เพิ่มข้อมูลแพ็คเกจ</div> -->
                    <hr> 
                    <!-- <form> -->
                    <form (submit)="onAddpackage(formPackage)" #formPackage="ngForm">
                        <div>
                            <h5>ประเภทแพ็คเกจ</h5>
                            <input type="radio" id="funds" name="type_package" ngModel value="funds">
                            <label for="funds"> ระดมทุน </label><br>
                            <input type="radio" id="invest" name="type_package" ngModel value="invest">
                            <label for="invest"> ลงทุน </label>
                                <hr>
                                <div class="col-md-12 form-group mb-3">
                                    <label for="movie_id"> รหัสภาพยนตร์ </label>
                                    <input type="int" class="form-control form-control-rounded" name="movie_id" ngModel placeholder="รหัสภาพยนตร์">
                                </div>
                            <div class="col-md-12 form-group mb-3">
                                <label for="topic"> ชื่อหัวข้อ </label>
                                <input type="text" class="form-control form-control-rounded" name="topic" ngModel placeholder="ชื่อหัวข้อ">
                            </div>
                            <div class="col-md-12 form-group mb-3">
                                <label for="details">รายละเอียด</label>
                                <input type="text" class="form-control form-control-rounded" name="details" ngModel placeholder="รายละเอียด">
                            </div>
                            <div class="col-md-12 form-group mb-3">
                                <label for="reward">รางวัล</label>
                                <input type="text" class="form-control form-control-rounded" name="reward" ngModel placeholder="รางวัล">
                            </div>
                            <div class="col-md-12 form-group mb-3">
                                <label for="amount">จำนวนเงิน</label>
                                <input type="text" class="form-control form-control-rounded" name="amount" ngModel placeholder="จำนวนเงิน">
                            </div>
                            <div class="col-md-12 form-group mb-3">
                                <label for="percent">ส่วนแบ่ง(%)</label>
                                <input type="text" class="form-control form-control-rounded" name="percent" ngModel placeholder="ส่วนแบ่ง(%)">
                            </div>
                            
                            <div class="col-md-12">
                            <button type="submit" class="btn btn-primary btn-block" >บันทึกข้อมูล</button>
                            </div>
                        </div>

                    </form>
                    
                </div>
            </div>
        </div>
    </div>
