<!-- <div class="separator-breadcrumb border-top"></div> -->
<!-- MANAGE ACCOUNT -->

<div class="row">

  <div class="col-md-8">
    <div class="card mb-12">
      <div class="card-body">
        <div class="col-12 text-center">
          <h2>รายละเอียดการชำระเงิน</h2>
        </div>
        <hr>
        <div class="col-md-12" *ngFor="let package of packages">
          <div class="card mb-4 o-hidden ">
            <div class="card-body">
              <h5 class="card-title">ภาพยนตร์เรื่อง : {{ movie?.name_en }} ({{ movie?.name_th }})</h5>
              <p class="card-text">ประเภทแพ็คเกจ : {{ package.type_package }} </p>
              <p class="card-text">แพ็คเกจที่เลือก : {{ package.topic }}</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">จำนวนเงิน {{ package.amount }} บาท</li>
            </ul>
            <!-- <div class="card-body">
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div> -->
          </div>
        </div>
        <hr>
        <!-- <form> -->
        <form (submit)="addtrans(formAddtrans)" #formAddtrans="ngForm">
          <div>



            <div class="card mb-4">
              <div class="card-header">

              </div>
              <div class="card-body">
                <h5 class="card-title" class="button-center2">**เมื่อท่านทำการโอนเงินไปยังบัญชีข้างต้นเรียบร้อยแล้ว
                  (เก็บสลิปการโอนไว้ทุกครั้ง)
                  ให้กรอกข้อมูลด้านล่างให้ครบ เพื่อแจ้งการโอนเงิน</h5>
              </div>
            </div>


            <div class="col-md-12" class="add-center">
              <div class="card mb-4 o-hidden">
                <div class="col-md-12 form-group mb-3">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-2"></div>

                      <div class="col-md-8">
                        <div class="input-group md-3" class="add-center">
                          <!-- <div class="input-group-prepend">
                                  <span class="input-group-text">$</span>
                              </div> -->

                              <div class="col-md-12 form-group mb-3">
                                <label>ชื่อ - ชื่อนามสกุล</label>
                                <select class="custom-select" name="user_id" ngModel id="inputGroupSelect04"
                                  aria-label="Example select with button addon">
                                  <option>==== ชื่อ - ชื่อนามสกุล ====</option>
                                  <option *ngFor="let user of users" value="{{user?.id}}" >{{user?.name}}</option>
                                </select>
                              </div>

                          <div class="col-md-12 form-group mb-3">
                            <label>ธนาคารที่เลือกโอน</label>
                            <select class="custom-select" name="bank_id" ngModel id="inputGroupSelect04"
                              aria-label="Example select with button addon">
                              <option>==== ชื่อธนาคาร ====</option>
                              <option *ngFor="let bank of banks" value="{{bank?.id}}">{{bank?.bank_account}}</option>
                            </select>
                          </div>

                          <div class="col-md-12 form-group mb-3">
                            <label>จำนวนเงิน</label>
                            <input type="text" class="form-control form-control" name="transfer_amount" ngModel placeholder="จำนวนเงิน">
                          </div>

                          <div class="col-md-12 form-group mb-3">
                            <label>วันที่โอน</label>
                            <input type="date" class="form-control form-control-rounded" name="transfer_date" ngModel
                              placeholder="วันที่โอน">
                          </div>
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-md-2"></div>
                      <div class="col-md-4">

                      </div>
                    </div>
                  </div>


                  <!-- ---------------------------------------อัพโหลดรูปภาพ-------------------------------- -->
                  <div class="row">

                    <div class="col-md-4"></div>
                    <div class="col-md-4">

                      <label class="mb-12">หลักฐานการโอนเงิน</label>
                      <div class="mb-3" *ngIf="!imageCoverPreview">
                        <img src="./assets/images/sleep.png">
                      </div>
                      <div *ngIf="imageCoverPreview !== '' && imageCoverPreview">
                        <img [src]="imageCoverPreview">
                      </div>

                      <section id="intro-wrap" class="intro-three-Wrap text-center">
                        <div class="intro-three-Description">
                          <span>
                            <button type="button" class="btn btn-outline-white" (click)="fileCover.click()"><i
                                class="fas fa-camera"></i> อัพโหลดรูปภาพ</button>
                            <input class="d-none" type="file" #fileCover #fileCoverReset (change)="onImageCover($event)"
                              accept="image/*">
                          </span>
                          <span *ngIf="imageCoverPreview !== '' && imageCoverPreview">
                            <!-- <button type="button" class="btn btn-success mr-2" (click)="onUploadImageCover()"><i class="far fa-check-circle"></i> บันทึก </button>
                                <button type="button" class="btn btn-outline-white border-0" (click)="onCancelImagCover()">ยกเลิก</button> -->
                          </span>
                        </div>
                        <div class="overlay">
                        </div>
                      </section>

                    </div>
                    <div class="col-md-4"></div>
                  </div>
                  <!-- ------------------------------------------------------------------------------------------ -->
                  <input type="radio" id="not" name="status" ngModel value="not">
                  <label for="funds"> ยืนยัน</label>
                </div>
              </div>
            </div>


            <br>
            <div class="col-md-12" class="submit">
              <button type="submit" class="btn btn-primary btn-block">บันทึกข้อมูล</button>
            </div>
          </div>

        </form>

      </div>
    </div>

  </div>

  <div class="col-md-4">

    <div class="col-md-12">
      <div class="card mb-4 o-hidden">

        <div class="col-md-12 form-group mb-3">
          <div class="card-body text-center">
            <h3>ธนาคารของเว็บ</h3>
          </div>
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-12" *ngFor="let bank of banks">
              <div class="card mb-4 o-hidden ">
                <div class="card-body">
                  <p class="button-center">ชื่อธนาคาร : {{bank.bank_account}}</p>
                  <p class="button-center">เลขบัญชี : {{bank.account_number}}</p>
                  <p class="button-center">ชื่อบัญชี : {{bank.account_name}}</p>
                </div>
              </div>
            </div>
            <div class="col-md-2"></div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
