.auth-layout-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    .auth-content {
        max-width: 360px;
        margin: auto;
        .card {
            max-width: 360px;
            margin: auto;
        }
    }
}


.auth-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.auth-logo {
    img {
        width: auto;
        height: 60px;
    }
}


@media (min-width: 1024px) {
    .auth-layout-wrap {
        .auth-content {
            min-width: 360px;
        }
    }
}

@media (max-width: 1024px) {
    .auth-layout-wrap {
        .auth-content {
            min-width: 760px;
        }
    }
}

@media (max-width: 767px) {
    .auth-layout-wrap {
        .auth-content {
            min-width: 100%;
            padding: 15px;
            .card {
                width: 100%;
            }
        }
    }
    .auth-right {
        padding: 80px 15px;
    }
}