<div class="row">
  <div class="col-sm-12 col-mb-12">


    <div class="row">
      <div class="col-sm-1 col-mb-1"></div>
      <div class="col-sm-4 col-mb-4">
        <div class="col-md-12">
          <div class="card bg-dark text-white o-hidden mb-4">
            <img class="card-img" width="200" height="500" src="http://localhost:8000/images/movie/{{movie?.movie_pic}}" alt="Card image">
            <div class="card-img-overlay">

              <div class="text-center pt-4">
                <h5 class="card-title mb-2 text-white">{{ movie?.name_en }}</h5>
                <h5 class="card-title mb-2 text-white">{{ movie?.name_th }}</h5>
                <div class="separator border-top mb-2"></div>
                <p class="text-small font-italic">สิ้นสุดวันที่ : {{ movie?.end_date }}</p>
              </div>
              <div class="p-1 text-left card-footer font-weight-light d-flex">
                <span class="mr-3 d-flex align-items-center"><i
                    class="i-Speach-Bubble-6 mr-1"></i>{{ movie?.director }}</span>
                <span class="d-flex align-items-center"><i class="i-Calendar-4 mr-2"></i>ประเภท :
                  {{ movie?.category?.name }}</span>
              </div>

            </div>
          </div>
        </div>
      </div>
        <div class="col-sm-6 col-mb-6">
          <P class="font1">เลือกประเภทแพ็คเกจ ของการระดมทุน</P>
          <!-- <button type="button" class="btn btn-light btn-rounded bg-white m-1 my-0" (click)="packageAdd(id)">เพิ่มข้อมูลแพ็คเกจ</button> -->
          <div class="card-body">
            <ngb-tabset class="">

              <ngb-tab title="ระดมทุน">
                <ng-template ngbTabContent>

                  <!-- ----------------------------------------ข้อมูลที่ 1---------------------------------------- -->
                  <div class="card mb-12" *ngFor="let package of packages">
                    <div class="card-header">

                    </div>
                    <div class="card-body">
                      <h4 class="card-title" class="font2">{{ package.topic }}</h4><br>
                      <!-- <p class="card-text">ไอดี : {{ package.id}} </p> -->
                      <p class="card-text">รายละเอียด : {{ package.details }}</p>
                      <h5 class="card-text">Reward</h5>
                      <p class="card-text">{{ package.reward }}</p>
                      <ul class="list-group list-group-flush">
                        <div class="row">
                          <div class="col-sm-8 col-mb-8">
                            <h5 class="list-group-item">ราคาระดมทุน {{ package.amount }} บาท</h5>
                          </div>
                          <div class="col-sm-4 col-mb-4">
                            <!-- <button type="button" class="btn btn-primary btn-rounded m-1"
                              (click)="transferAdd(movie?.id, package.id)">เลือกแพ็คเกจนี้</button> -->
                          </div>
                        </div>
                      </ul>

                    </div>
                  </div><br>
                  <!-- ----------------------------------------ข้อมูลที่----------------------------------------------- -->

                </ng-template>
              </ngb-tab>
              <ngb-tab title="ลงทุน">
                <ng-template ngbTabContent>

                  <div class="card mb-12" *ngFor="let package of packages2">
                    <div class="card-header">
                      <div class="card  o-hidden"></div>

                    </div>
                    <div class="card-body">
                      <h4 class="card-title" class="font2">{{ package.topic }}</h4><br>
                      <!-- <p class="card-text">ไอดี : {{ package.id}} </p> -->
                      <p class="card-text">รายละเอียด : {{ package.details }}</p>
                      <h5 class="card-text">Reward</h5>
                      <p class="card-text">- เงินตอบแทน {{ package.percent }}% ของรายได้</p>
                      <ul class="list-group list-group-flush">
                        <div class="row">
                          <div class="col-sm-8 col-mb-8">
                            <h5 class="list-group-item">ราคาลงทุน {{ package.amount }} บาท</h5>
                          </div>
                          <div class="col-sm-4 col-mb-4">
                            <!-- <button type="button" class="btn btn-primary btn-rounded m-1"
                              (click)="transferAdd(movie?.id, package.id)">เลือกแพ็คเกจนี้</button> -->
                          </div>
                        </div>
                      </ul>

                    </div>
                  </div><br>

                </ng-template>
              </ngb-tab>

            </ngb-tabset>
          </div>
        </div>
        <div class="col-sm-1 col-mb-1"></div>



    </div>
  </div>
