<!-- <div class=" "> -->
    <!-- <div class="breadcrumb">
        <h2>ยินดีต้อนรับ</h2>
        <ul> -->
            <!-- <li><a href="">Dashboard</a></li>
            <li>general</li> -->
            <!-- <h3>เข้าสู่</h3>
            <h1>Movie Funding</h1>
        </ul>
    </div> -->

    <!-- <div class="separator-breadcrumb border-top"></div>
    <div class="auth-logo text-center mb-4">
        <img src="assets/images/logo.png" alt="">
      </div> -->
<div class="row">
    <div class="col-sm-12 col-mb-12">
        <div class="card bg-dark text-white o-hidden mb-4">
            <img class="card-img" src="./assets/images/avgen.png" alt="Card image">

            <div class="card-img-overlay">

                <div class="row">
                    <div class="col-sm-5 col-md-5">
                        <img class="card-img col-sm-5 col-md-5 center4"  src="./assets/images/movie-black.png"  alt="Card image">

                            <div class="col-sm-10 col-md-10" class="video">
                                 <video class="col-sm-12 col-md-12" autoplay loop controls muted>
                                   <source src="./assets/images/Marvel.mp4" type="video/mp4" type="video/mp4"/>
                                 </video>

                            </div>

                                <!-- ---------------ดึงจากMega---------------------- -->
                                 <!-- <iframe class="center" width="450" height="250" frameborder="0"
                                 src="https://mega.nz/embed/KLokxKwJ#huQO5c98DZkQVghYpOM55on65Danqni3lWXrSO7afcw" allowfullscreen >
                                </iframe> -->

                                <!-- ---------------ดึงจากyoutube--------------------- -->
                                <!-- <iframe width="450" height="250" src="https://www.youtube.com/embed/TcMBFSGVi1c" frameborder="0" allow="accelerometer; autoplay;
                                      clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                                </iframe>    -->

                    </div>


                    <div class="col-sm-2 col-md-2">
                        <div class="col-sm-12 col-md-12" class="center1">
                                    <img class="card-img-" src="./assets/images/avg.jpg" >
                        </div>
                    </div>

                    <div class="col-sm-5 col-md-5" >
                        <div class="col-sm-12 col-md-12" >
                                    <p  class="font">Avengers Endgame</p>
                                    <p class="font1"> อเวนเจอร์ส เผด็จศึก</p>
                                    <p>เรื่องย่อ :
                                        เหล่าอเวนเจอร์ยังคงต้องปกป้องโลกจากภัยอันตรายครั้งใหญ่ที่เกินกว่าที่ซูเปอร์ฮีโร่คนเดียวจะรับมือได้
                                         อันตรายครั้งใหม่นั้นมาจากเงามืดของจักรวาล "ธานอส" จอมเผด็จการแห่งจักรวาล เป้าหมายของเขาคือการรวบรวมอัญมณี
                                          อินฟินิตี้สโตนส์ทั้งหก เพื่อครอบครองพลังที่เกินจะจินตนาการถึง และใช้พวกมันในการเปลี่ยนแปลงความจริงทั้งมวลของจักรวาล
                                           ทุกสิ่งทุกอย่างที่อเวนเจอร์ต่อสู้มาก็เพื่อสิ่งนี้ ชะตากรรมของโลกและจักรวาลไม่เคยสั่นคลอนเท่านี้มาก่อน</p>
                                           <span class="mr-3 d-flex align-items-center"><i class="i-Speach-Bubble-6 mr-1"></i> 12 </span>
                                           <span class="d-flex align-items-center"><i class="i-Calendar-4 mr-2"></i>03.12.2018</span>
                        </div >
                        <!-- <div class="button-center">
                            <button type="button" class="btn btn-primary btn-rounded m-1" (click)="viewMovieNew(id)">ดูรายละเอียด</button>
                        </div> -->
                        <button type="button" class="btn btn-primary btn-rounded m-1" (click)="viewMovieNew(id)">ดูภาพยนตร์ทั้งหมด</button>
                    </div>

                </div>



        </div>
    </div>
</div>

</div>
