.center{
    margin-top:30px ;
}
.center1{
    margin-top:110px ;
}
.video{
    margin-top:80px ;
}

.center4{
    margin-top:20px ;
}

.font{
    color: white;
    margin-top:30px ;
    font-weight: bold;
    font-size: 35px;
    font-family: fantasy;
}
.font1{
    color: white;
    font-size: 30px;
}

.font1{
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.button-center{
    text-align: center;

}
.button-center button {
    padding: 10px 40px;
}