<div class="row">
  <div class="col-sm-12 col-mb-12">
    <div class="card bg-dark text-white o-hidden mb-4">
      <img class="card-img" src="./assets/images/avgen2.jpg" alt="Card image">
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-12">

    <div class="card mb-4">
      <div class="card-body">

        <div class="row">
          <div class="col-sm-4 col-mb-4">
            <img class="card-img-" src="{{movie?.movie_pic}}">
          </div>

          <div class="col-sm-8 col-mb-8">
            <div class="row">
              <div class="col-sm-6 col-mb-6">
                <p class="font">{{ movie?.name_en }}</p>
                <p class="font1">{{ movie?.name_th }}</p>
                <p class="font2">ผู้กำกับ : {{ movie?.director }}</p>
              </div>
              <div class="col-sm-6 col-mb-6" class="button-center">
                <button type="button" class="btn btn-outline-primary btn-rounded m-1"
                  (click)="packageView(movie?.id)">ระดมทุน</button>
              </div>
            </div>

            <p class="font2">ประเภท : {{ movie?.category?.name }}</p>
            <p>เรื่องย่อ :
              {{ movie?.description }}</p>


            <div class="row">
              <div class="col-sm-6 col-mb-6">
                <p class="font2">ยอดปัจจุบัน</p>
                <p class="font3">{{ movie?.current_total }} ฿</p>
              </div>

              <div class="col-sm-6 col-mb-6">
                <p class="font2">ยอดระดมทุนที่ต้องการ</p>
                <p class="font4">{{ movie?.total }} ฿</p>
              </div>
            </div>

            <!-- <span class="mr-3 d-flex align-items-center"><i class="i-Speach-Bubble-6 mr-1"></i> 12 </span>
                    <span class="d-flex align-items-center"><i class="i-Calendar-4 mr-2"></i>03.12.2018</span> -->

          </div>
        </div>

        <div class="card-body">
          <ngb-tabset class="">

            <ngb-tab title="รายละเอียด">
              <ng-template ngbTabContent>

                <p>เรื่องย่อ : {{ movie?.resume }}</p>

              </ng-template>
            </ngb-tab>

            <ngb-tab title="ความคืบหน้า">
              <ng-template ngbTabContent>
                <button type="button" class="btn btn-primary btn-rounded m-1" (click)="progressAdd(id)">เพิ่มความคืบหน้า</button>

                <div class="col-md-12" *ngFor="let progress of progresses">
                  <div class="card mb-12">
                    <div class="card-body p-0">
                      <div class="card-title border-bottom d-flex align-items-center m-3 p-3">
                        <span>รายละเอียดความคืบหน้า</span>
                        <span class="flex-grow-1"></span>
                      </div>
                      <br>
                      <div class="col-md-6 form-group mb-0">
                        <div class="shadow p-3 mb-5 bg-white rounded">หัวข้อ : {{ progress.topic }}</div>
                      </div>
                      <div class="col-md-5">
                        <div class="text-center">
                          <br><img class="card-img-top" src="{{ progress.movie_pic }}"alt="รูปภาพความคืบหน้า">
                          <!-- {{ progress.picture }} -->
                        </div>
                      </div>

                      <br>

                      <div class="col-md-6 form-group mb-3">
                        <div class="shadow p-3 mb-5 bg-white rounded">รายละเอียด : {{ progress.detail }}</div>
                        <div class="shadow p-3 mb-5 bg-white rounded">วัน/เดือน/ปี : {{ progress.date }}</div>
                      </div>
                      <div class="col-md-6 form-group mb-3">
                      </div><br>
                    </div>
                  </div>
                </div>

              </ng-template>
            </ngb-tab>

            <ngb-tab title="ข้อมูลการโอนเงิน">
              <ng-template ngbTabContent>

                <div class="col-sm-12 col-mb-12">
                  <P class="font1">สถานะการโอน</P>

                  <div class="card-body">
                    <ngb-tabset class="">

                      <ngb-tab title="ตรวจสอบสำเร็จ">
                        <ng-template ngbTabContent>

                          <!-- --------------------------------------------ข้อมูล 1 -------------------------------------------- -->
                          <div class="row">
                            <div class="col-sm-8 col-mb-8" *ngFor="let transfer of adconfirm">
                              <div class="card mb-12">
                                <div class="card-header">

                                </div>
                                <div class="card-body">
                                  <h4 class="card-title" class="font2">ชื่อแพ็คเกจที่เลือก : {{transfer.package?.topic}}</h4><br>
                                  <p class="card-text">ชื่อผู้ใช้ : {{transfer.user?.name}}</p>
                                  <!-- <h5 class="card-text">Reward</h5> -->
                                  <p class="card-text">วันที่โอน : {{transfer.transfer_date}}</p>
                                  <ul class="list-group list-group-flush">
                                    <div class="row">
                                      <div class="col-sm-12 col-mb-12">
                                        <h5 class="list-group-item">จำนวนเงิน : {{transfer.transfer_amount}} บาท</h5>
                                      </div>

                                    </div>
                                  </ul>

                                </div>
                              </div>
                            </div>
                            <div class="col-sm-2 col-mb-2"></div>
                          </div>
                          <br>

                        </ng-template>
                      </ngb-tab>

                      <ngb-tab title="ยังไม่ตรวจสอบ">
                        <ng-template ngbTabContent>
                          <!-- --------------------------------------------ข้อมูล 1 -------------------------------------------- -->
                          <div class="row">
                            <div class="col-sm-8 col-mb-8" *ngFor="let transfer of adnot">
                              <div class="card mb-12">
                                <div class="card-header">

                                </div>
                                <div class="card-body">
                                  <h4 class="card-title" class="font2">ชื่อแพ็คเกจที่เลือก : {{transfer.package?.topic}}</h4><br>
                                  <p class="card-text">ชื่อผู้ใช้ : {{transfer.user?.name}}</p>
                                  <!-- <h5 class="card-text">Reward</h5> -->
                                  <p class="card-text">วันที่โอน : {{transfer.transfer_date}}</p>
                                  <ul class="list-group list-group-flush">
                                    <div class="row">
                                      <div class="col-sm-8 col-mb-8">
                                        <h5 class="list-group-item">จำนวนเงิน : {{transfer.transfer_amount}} บาท</h5>
                                      </div>
                                      <div class="col-sm-4 col-mb-4">
                                        <button type="button"
                                          class="btn btn-primary btn-rounded m-1">ตรวจสอบ</button>
                                      </div>

                                    </div>
                                  </ul>

                                </div>
                              </div>
                            </div>

                          </div>
                          <br>

                        </ng-template>
                      </ngb-tab>

                      <ngb-tab title="ตรวจสอบไม่สำเร็จ">
                        <ng-template ngbTabContent>
                          <!-- --------------------------------------------ข้อมูล 1 -------------------------------------------- -->
                          <div class="row">
                            <div class="col-sm-8 col-mb-8" *ngFor="let transfer of adun">
                              <div class="card mb-12">
                                <div class="card-header">

                                </div>
                                <div class="card-body">
                                  <h4 class="card-title" class="font2">ชื่อแพ็คเกจที่เลือก : {{transfer.package?.topic}}</h4><br>
                                  <p class="card-text">ชื่อผู้ใช้ : {{transfer.user?.name}}</p>
                                  <!-- <h5 class="card-text">Reward</h5> -->
                                  <p class="card-text">วันที่โอน : {{transfer.transfer_date}}</p>
                                  <ul class="list-group list-group-flush">
                                    <div class="row">
                                      <div class="col-sm-12 col-mb-12">
                                        <h5 class="list-group-item">จำนวนเงิน : {{transfer.transfer_amount}} บาท</h5>
                                      </div>

                                    </div>
                                  </ul>

                                </div>
                              </div>
                            </div>
                            <div class="col-sm-2 col-mb-2"></div>
                          </div>
                          <br>

                        </ng-template>
                      </ngb-tab>

                    </ngb-tabset>
                  </div>
                </div>

              </ng-template>
            </ngb-tab>

            <ngb-tab title="ข้อมูลการส่งเงิน">
              <ng-template ngbTabContent>
                <!-- --------------------------------------------ข้อมูล 1 -------------------------------------------- -->
                <div class="row">
                  <div class="col-sm-8 col-mb-8" *ngFor="let sendmoney of sendmoneys">
                    <div class="card mb-12">
                      <div class="card-header">

                      </div>
                      <div class="card-body">
                        <h4 class="card-title" class="font2">{{sendmoney?.topic}}</h4><br>
                        <p class="card-text">รายละเอียด : {{sendmoney?.details}}</p>
                        <!-- <h5 class="card-text">Reward</h5> -->
                        <p class="card-text">วันที่โอน : {{sendmoney?.sendmoney_date}}</p>
                        <ul class="list-group list-group-flush">
                          <div class="row">
                            <div class="col-sm-12 col-mb-12">
                              <h5 class="list-group-item">จำนวนเงิน : {{sendmoney?.amount}} บาท</h5>
                            </div>
                          </div>
                        </ul>
                        <div class="col-sm-4 col-mb-4">
                          <img class="card-img" width="200" height="350" src="{{sendmoney?.sendmoney_pic}}" alt="รูปภาพสลิป">
                          <!-- <img class="card-img-" src="{{sendmoney?.sendmoney_pic}}"> -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-2 col-mb-2"></div>
                </div>
                <br>

              </ng-template>
            </ngb-tab>

          </ngb-tabset>
        </div>

      </div>
    </div>
