<div class="">
    <div class="breadcrumb">
        <h1>ยืนยันตัวตน</h1>
        <ul>
            <li><a href="">ผู้ใช้งาน</a></li>
            <!-- <li>Creator & Fundraiser</li> -->
            <li>นักลงทุน & นักสร้างภาพยนตร์</li>
        </ul>
    </div>

    <div class="separator-breadcrumb border-top"></div>

    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="card-title mb-3">ข้อมูลยืนยันตัวตน</div>
                  
                    <form (submit)="onAddVerification(formVerification)" #formVerification="ngForm">
                        
                        <fieldset class="form-group">
                            <div class="row">
                                <div class="col-sm-10">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1"
                                            value="option1" checked>
                                        <label class="form-check-label" for="gridRadios1">
                                            เลขบัตรประชาชน
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <div class="col-md-6 form-group mb-4">
                            <!-- <div class="d-flex flex-column bd-highlight mb-3"> -->
                                <div class="shadow p-3 mb-5 bg-white rounded">14599778778</div>
                               
                              <!-- </div> -->
                        </div>

                        <div class="col-md-6 form-group mb-3">
                            <div class="shadow p-3 mb-5 bg-white rounded">เบอร์โทร : {{verifications.tel}} </div>
                        </div>

                        <div class="col-md-6 form-group mb-3">
                            <div class="shadow p-3 mb-5 bg-white rounded">tossaporn@yahoo.com</div>
                        </div>

                        <div class="col-md-6">
                                <img class="card-img-top" src="./assets/images/photo-wide-2.jpg" alt="">
                                <div class="card-body">
                            </div>
                        </div>

                                <!-- <button type="submit" class="btn btn-primary btn-rounded m-1">submit</button> -->
                       
                        <div class="col-md-12">
                             <button type="button" class="btn btn-success btn-rounded m-1">อนุมัติ</button>
                             <button type="button" class="btn btn-danger btn-rounded m-1">ไม่อนุมัติ</button>
                        </div>
                    </form>
                </div>            
            </div>
        </div>
    </div>  
</div>


